@model CountriesViewer.Models.Country

<div class="countryDetails">
    <h4>Details</h4>
    <div>
        <div><b>Capital:</b> @Html.DisplayFor(model => model.Capital)</div>
        <div><b>Area:</b> @Html.DisplayFor(model => model.Area) km&#178</div>
        <div><b>Population:</b> @Html.DisplayFor(model => model.Population)</div>
    </div>
</div>

